elevenlabs==2.10.0
ffmpeg_python==0.2.0
google-genai
librosa
numpy==1.23.5
openai==1.100.2
opencv_python==4.7.0.72
pandas==1.5.3
pydub==0.25.1
pypinyin==0.54.0
PyQt5==5.15.11
PyQt5_sip==12.17.0
pyqt_fluent_widgets==1.8.1
pyrubberband==0.4.0
Requests==2.32.5
scipy
soundfile==0.13.1
dataset
tiktoken==0.9.0
tqdm==4.65.0
moviepy
